body {
    background: linen;
  }
  
.h1 {
    color: rgb(14, 13, 13);
    margin-left: 40px;
  }

.h2 {
    color: rgb(14, 13, 13);
    margin-left: 40px;
  }

.P {
    color: rgb(14, 13, 13);
    text-align: justify;
  }

img {
    max-width: 100%;
    height: auto;
    }

@media (max-width: 600px) {
    .h1 {
        color: rgb(14, 13, 13);
        margin-left: 40px;
      }
    
    .h2 {
        color: rgb(14, 13, 13);
        margin-left: 40px;
      }

    .P {
        color: rgb(14, 13, 13);
        text-align: justify;
    }


}